tibcomodule.module/Schemas/Fault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Fault" xmlns:tns="http://www.example.org/Fault" elementFormDefault="qualified">

    <complexType name="FaultType">
    	<sequence>
    		<element name="errorCode" type="string"></element>
    		<element name="errorMessage" type="string"></element>
    	</sequence>
    </complexType>

    <element name="Fault" type="tns:FaultType"></element>
</schema>