tibcomodule.module/Service Descriptors/Service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.raiffeisen.com/Service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://www.raiffeisen.com/Service/" xmlns:xsd1="http://www.example.org/Fault">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.raiffeisen.com/Service/" xmlns:Q1="http://www.raiffeisen.com/Schema2" xmlns:Q2="http://www.raiffeisen.com/Service">
            <xsd:import namespace="http://www.raiffeisen.com/Service"></xsd:import>
            <xsd:element name="request" type="Q2:ServiceRequestType"></xsd:element>
            <xsd:element name="response"
            	type="Q2:ServiceResponseType">
            </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.example.org/Fault"
    		schemaLocation="../Schemas/Fault.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="GetItemsRequest">
    <wsdl:part element="tns:request" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetItemsResponse">
    <wsdl:part element="tns:response" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetItemsFault">
  	<wsdl:part name="parameters" element="xsd1:Fault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Service">
    <wsdl:operation name="GetItems">
      <wsdl:input message="tns:GetItemsRequest"/>
      <wsdl:output message="tns:GetItemsResponse"/>
            <wsdl:fault name="fault" message="tns:GetItemsFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSOAP" type="tns:Service">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="GetItems">

  		<soap:operation
  			soapAction="http://www.raiffeisen.com/Service/GetItems" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">
  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port binding="tns:ServiceSOAP" name="ServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
